 {% extends "food/base.html" %}

 {% block body%}


 
<div class='container'>
    <div class='row'> 
        <div class ="col-md-4 offset-md-4">
            <div class="card">
                <div class="class-header bg-info text-white">
                    <div class="card-title">
                        Login
                    </div>
                </div>
                <div class="card-body">
                    <div class="fform-group">


                        <form method = 'POST'>  
                            {% csrf_token %}

                            {% for field in form%}
                                {{field.name}}
                            
                            <br>
                                {{field}}
                                <br>
                            {% endfor %}
                            
                            <button class="btn btn-primary" type="submit"> Save </button>
                            
                        
                        
                        </form>
                    </div>
                
                </div>
            </div>
        </div>
        
    </div>
</div>



</form>
{% endblock%}